apps/prod/n8n/workflows/parallel/03-nudge-scan-shadow.json
{
  "name": "03-nudge-scan-shadow",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {"field": "minutes", "minutesInterval": 15}
          ]
        }
      },
      "id": "schedule",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [220, 280]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {"name": "mode", "value": "shadow"},
            {"name": "scanned", "value": "0"},
            {"name": "overdue_count", "value": "0"}
          ],
          "json": [
            {"name": "sample_ids", "value": []}
          ]
        }
      },
      "id": "classify-shadow",
      "name": "Classify (Shadow)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [520, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.myrobertson.com/webhook/l0peUMhLdWU76iyx/parity%2520webhook/parallel/parity/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: 'n8n-shadow-nudge', session_id: 'scheduler', intent: 'nudge_scan', mode: 'shadow', status: 'classified', candidate_task_ids: $json.sample_ids || [], selected_task_id: null, action_preview: 'classify-overdue-only', notes: 'scheduled shadow classification placeholder' }) }}",
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "emit-nudge-parity",
      "name": "Emit Nudge Parity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 280]
    }
  ],
  "connections": {
    "Every 15 Minutes": {"main": [[{"node": "Classify (Shadow)", "type": "main", "index": 0}]]},
    "Classify (Shadow)": {"main": [[{"node": "Emit Nudge Parity", "type": "main", "index": 0}]]}
  },
  "settings": {"saveExecutionProgress": true},
  "meta": {"templateCredsSetupCompleted": false},
  "pinData": {}
}