apps/prod/n8n/workflows/parallel/06-telegram-callback-shadow.json
{
  "name": "06-telegram-callback-shadow",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "parallel/telegram/callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "callback-webhook",
      "name": "Callback Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 320]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {"name": "callback_id", "value": "={{$json.body.callback_id || $json.body.id || ''}}"},
            {"name": "session_id", "value": "={{$json.body.session_id || ''}}"},
            {"name": "action", "value": "={{$json.body.action || ''}}"},
            {"name": "callback_data", "value": "={{$json.body.callback_data || ''}}"},
            {"name": "message_text", "value": "={{$json.body.message_text || ''}}"},
            {"name": "claim_url", "value": "https://n8n.myrobertson.com/webhook/1oGQ9UerEDVeg48r/claim%2520webhook/parallel/state/callback/claim"},
            {"name": "session_upsert_url", "value": "https://n8n.myrobertson.com/webhook/1oGQ9UerEDVeg48r/session%2520upsert%2520webhook/parallel/state/session/upsert"}
          ]
        }
      },
      "id": "normalize",
      "name": "Normalize Callback",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [480, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.myrobertson.com/webhook/1oGQ9UerEDVeg48r/claim%2520webhook/parallel/state/callback/claim",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ callback_id: $json.callback_id, session_id: $json.session_id, ttl_seconds: 3600 }) }}",
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "claim-callback",
      "name": "Claim Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [980, 220]
    },
    {
      "parameters": {
        "functionCode": "const root = $items('Normalize Callback', 0, 0)[0].json;\nconst claimed = ($json.claimed === true || $json.claimed === 'true');\nconst status = claimed ? 'claimed' : 'duplicate';\nreturn [{ json: { ...root, claim_status: status, state_source: 'external-claim-service' } }];"
      },
      "id": "merge-claim-service",
      "name": "Merge Claim Service",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1220, 220]
    },
    {
      "parameters": {
        "functionCode": "const duplicate = $json.claim_status === 'duplicate';\nconst notes = duplicate ? 'duplicate callback ignored' : 'callback accepted in shadow mode';\nconst parityPayload = {\n  source: 'n8n-shadow-callback',\n  session_id: $json.session_id || '',\n  intent: 'telegram_callback',\n  mode: 'shadow',\n  status: duplicate ? 'duplicate' : 'claimed',\n  candidate_task_ids: [],\n  selected_task_id: null,\n  action_preview: $json.action || '',\n  notes\n};\nreturn [{ json: { ...$json, parity_payload: parityPayload } }];"
      },
      "id": "build-parity",
      "name": "Build Callback Parity",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1460, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.myrobertson.com/webhook/l0peUMhLdWU76iyx/parity%2520webhook/parallel/parity/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.parity_payload) }}",
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "emit-parity",
      "name": "Emit Callback Parity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1700, 320]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{$json.claim_status}}", "operation": "equal", "value2": "duplicate"}
          ]
        }
      },
      "id": "is-duplicate",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1940, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, handled: true, duplicate: true, mode: 'shadow', reason: 'callback already claimed' }) }}"
      },
      "id": "respond-duplicate",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2180, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.myrobertson.com/webhook/1oGQ9UerEDVeg48r/session%2520upsert%2520webhook/parallel/state/session/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: $json.session_id || '', last_callback_id: $json.callback_id || '', last_action: $json.action || '', updated_at: $now }) }}",
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "upsert-session",
      "name": "Upsert Session Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2420, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, handled: true, duplicate: false, mode: 'shadow', state_source: $json.state_source || 'none' }) }}"
      },
      "id": "respond-claimed",
      "name": "Respond Claimed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2660, 440]
    }
  ],
  "connections": {
    "Callback Webhook": {
      "main": [[{"node": "Normalize Callback", "type": "main", "index": 0}]]
    },
    "Normalize Callback": {
      "main": [[{"node": "Build Callback Parity", "type": "main", "index": 0}]]
    },
    "Build Callback Parity": {
      "main": [[{"node": "Emit Callback Parity", "type": "main", "index": 0}]]
    },
    "Emit Callback Parity": {
      "main": [[{"node": "Respond Claimed", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "saveExecutionProgress": true
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}